  .container{
    margin: 1fr;
    padding: 1fr;
  }

  h1{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
  }

  button a{
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
  }


  p{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
  }
  
